:root {
    --brand-color: #16864d;
    --accent: #32de85;
    --background: #fafafa;
    --foreground: #18181b;
    --muted: #e4e4e7;
    --muted-foreground: #3f3f46;
    --border: #d4d4d8;
    --search-input: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-color: #32de85;
        --accent: #16864d;
        --background: #09090b;
        --foreground: #f4f4f5;
        --muted: #27272a;
        --muted-foreground: #d4d4d8;
        --border: #3f3f46;
        --search-input: #18181b;
    }
}