.logo_package {
    color: #202420
}

.logo_phobia {
    color: #16864d
}

@media (prefers-color-scheme: dark) {
    body {
        background: #09090b;
        color: #f4f4f5;
    }

    .logo_package {
        color: #f4f4f5
    }

    .logo_phobia {
        color: #32de85
    }

    form input[type=text] {
        background-color: #27272a;
        color: #d4d4d8 !important;
        border-color: #3f3f46 !important;
    }

    form button[type=submit] {
        background-color: #27272a !important;
        border-color: #3f3f46 !important;
        fill: #f4f4f5;
    }

    #spinwrap {
        background: #09090b;
    }

    #sponsors::before {
        color: #d4d4d8
    }

    .color1 {
        background: #52525b !important;
    }

    .color2 {
        background: #32de85 !important;
    }

    .bar-graph__bar-version {
        color: #d4d4d8 !important;
    }

    .bar-graph-container:hover .bar-graph__bar-version {
        color: #f4f4f5 !important;
    }

    .bar-graph__bar-group:hover .bar-graph__bar-version {
        color: #f4f4f5 !important;
    }
}